# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
ENV/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de bases de datos SQLite
*.sqlite3

# Archivos creados por VS Code
.vscode/

# Archivos de caché
*.cache
